Repository kevinmichaelchen/ixchel: changes, and which pre-commit hooks are due for each by the changed paths.
All: dprint, cargo-fmt, cargo-clippy

dprint:
  name: dprint (markdown)
  entry: dprint check --allow-no-files
  language: system
  pass_filenames: false

cargo-fmt:
  name: cargo fmt
  entry: cargo fmt --all -- --check
  language: system
  pass_filenames: false

cargo-clippy:
  name: cargo clippy
  entry: cargo clippy --all-targets -- -D warnings
  language: system
  pass_filenames: false

feat(dx): migrate from Husky to prek for git hooks (#11)
  .husky/hooks/pre-commit
  .ixchel/decisions/dec-7f3a92.md
  .pre-commit-config.yaml
Due: dprint

feat(docs): redesign homepage with interactive elements
  docs/app/(home)/page.tsx
  docs/bun.lock
  docs/package.json
Due: none

feat(docs): add typing animation to terminal preview
  docs/app/(home)/page.tsx
Due: none

fix(docs): fix JSON alignment in Context terminal scenario
  docs/app/(home)/page.tsx
Due: none

feat(docs): switch to Geist font family for better typography
  docs/app/global.css
  docs/app/layout.tsx
  docs/bun.lock
  docs/package.json
Due: none

feat(docs): add subtle micro-interactions and polish
  docs/app/global.css
Due: none

fix(docs): fix fenced code block background colors
  docs/app/global.css
Due: none

feat(docs): typography polish with Geist fonts and micro-interactions (#14)
  docs/app/(home)/page.tsx
  docs/app/global.css
  docs/app/layout.tsx
  docs/bun.lock
  docs/package.json
Due: none

docs(decisions): add comprehensive publishing/distribution report
  .ixchel/decisions/dec-publish.md
Due: dprint

feat(tags): add tag aggregation and listing
  apps/ix-cli/specs/design.md
  apps/ix-cli/specs/requirements.md
  apps/ix-cli/specs/tasks.md
  apps/ix-cli/src/main.rs
  apps/ix-mcp/specs/design.md
  apps/ix-mcp/specs/requirements.md
  apps/ix-mcp/specs/tasks.md
  apps/ix-mcp/src/main.rs
  crates/ix-core/specs/design.md
  crates/ix-core/specs/requirements.md
  crates/ix-core/specs/tasks.md
  crates/ix-core/src/repo.rs
Due: dprint, cargo-fmt, cargo-clippy

fix(cli): align tags output columns
  apps/ix-cli/src/main.rs
Due: cargo-fmt, cargo-clippy

feat(ix-core): add untagged entity listing
  crates/ix-core/specs/design.md
  crates/ix-core/specs/requirements.md
  crates/ix-core/src/repo.rs
Due: dprint, cargo-fmt, cargo-clippy

feat(mcp): add untagged tag discovery
  apps/ix-mcp/specs/design.md
  apps/ix-mcp/specs/requirements.md
  apps/ix-mcp/src/main.rs
Due: dprint, cargo-fmt, cargo-clippy

feat(ix-core): add tag mutation helpers
  crates/ix-core/specs/design.md
  crates/ix-core/specs/requirements.md
  crates/ix-core/specs/tasks.md
  crates/ix-core/src/repo.rs
  crates/ix-core/tests/repo_integration.rs
Due: dprint, cargo-fmt, cargo-clippy

feat(cli): add tag add/remove commands
  apps/ix-cli/specs/design.md
  apps/ix-cli/specs/requirements.md
  apps/ix-cli/specs/tasks.md
  apps/ix-cli/src/main.rs
Due: dprint, cargo-fmt, cargo-clippy

chore: format specs
  apps/ix-cli/specs/design.md
  apps/ix-cli/specs/requirements.md
  apps/ix-mcp/specs/design.md
  apps/ix-mcp/specs/requirements.md
  crates/ix-core/specs/requirements.md
Due: dprint

feat(tags): comprehensive tag system with aggregation, filtering, mutations, and untagged detection (#15)
  .ixchel/decisions/dec-2aa528.md
  .ixchel/issues/bd-31662b.md
  .ixchel/issues/bd-3d2fd6.md
  .ixchel/issues/bd-48bfe2.md
  .ixchel/issues/bd-59a459.md
  .ixchel/issues/bd-64428f.md
  .ixchel/issues/bd-6a330e.md
  .ixchel/issues/bd-74e264.md
  .ixchel/issues/bd-750fb3.md
  .ixchel/issues/bd-82468c.md
  .ixchel/issues/bd-93cb76.md
  .ixchel/issues/bd-db2412.md
  .ixchel/issues/bd-e7683b.md
  .ixchel/issues/iss-6fe7c4.md
  .ixchel/issues/iss-c663c4.md
  .pre-commit-config.yaml
  apps/ix-cli/specs/design.md
  apps/ix-cli/specs/requirements.md
  apps/ix-cli/specs/tasks.md
  apps/ix-cli/src/main.rs
  apps/ix-mcp/specs/design.md
  apps/ix-mcp/specs/requirements.md
  apps/ix-mcp/specs/tasks.md
  apps/ix-mcp/src/main.rs
  crates/ix-core/specs/design.md
  crates/ix-core/specs/requirements.md
  crates/ix-core/specs/tasks.md
  crates/ix-core/src/repo.rs
  crates/ix-core/tests/repo_integration.rs
Due: dprint, cargo-fmt, cargo-clippy

feat(list): add --sort flag for recency-based ordering
  apps/ix-cli/specs/design.md
  apps/ix-cli/specs/requirements.md
  apps/ix-cli/src/main.rs
  crates/ix-core/specs/design.md
  crates/ix-core/specs/requirements.md
  crates/ix-core/src/repo.rs
  crates/ix-core/tests/repo_integration.rs
Due: dprint, cargo-fmt, cargo-clippy

refactor(list): remove --sort id option
  apps/ix-cli/specs/design.md
  apps/ix-cli/specs/requirements.md
  crates/ix-core/specs/design.md
  crates/ix-core/specs/requirements.md
  crates/ix-core/src/repo.rs
Due: dprint, cargo-fmt, cargo-clippy

fix: resolve clippy and formatting issues
  apps/ix-cli/specs/requirements.md
  crates/ix-core/specs/design.md
  crates/ix-core/specs/requirements.md
  crates/ix-core/src/repo.rs
  crates/ix-core/tests/repo_integration.rs
Due: dprint, cargo-fmt, cargo-clippy

feat(list): add --sort flag for recency-based ordering (#16)
  apps/ix-cli/specs/design.md
  apps/ix-cli/specs/requirements.md
  apps/ix-cli/src/main.rs
  crates/ix-core/specs/design.md
  crates/ix-core/specs/requirements.md
  crates/ix-core/src/repo.rs
  crates/ix-core/tests/repo_integration.rs
Due: dprint, cargo-fmt, cargo-clippy

feat(core): add frontmatter validation suggestions (#17)
  apps/ix-cli/src/main.rs
  crates/ix-core/src/repo.rs
  crates/ix-core/tests/repo_integration.rs
  docs/content/docs/tools/cli-reference.mdx
Due: cargo-fmt, cargo-clippy

feat(demo-got): add pluggable storage backend with HelixDB and SurrealDB support
  apps/demo-got/.gitignore
  apps/demo-got/Cargo.toml
  apps/demo-got/README.md
  apps/demo-got/src/backend.rs
  apps/demo-got/src/lib.rs
  apps/demo-got/src/main.rs
  apps/demo-got/src/query.rs
  apps/demo-got/src/storage/helixdb.rs
  apps/demo-got/src/storage/mod.rs
  apps/demo-got/src/storage/surrealdb.rs
  apps/demo-got/src/types.rs
Due: dprint, cargo-fmt, cargo-clippy

fix(storage): lazily open SurrealDB for read operations
  crates/ix-storage-surrealdb/src/lib.rs
Due: cargo-fmt, cargo-clippy

feat(storage): add SurrealDB storage backend (#19)
  Cargo.toml
  apps/demo-got/.gitignore
  apps/demo-got/Cargo.toml
  apps/demo-got/README.md
  apps/demo-got/src/backend.rs
  apps/demo-got/src/lib.rs
  apps/demo-got/src/main.rs
  apps/demo-got/src/query.rs
  apps/demo-got/src/storage/helixdb.rs
  apps/demo-got/src/storage/mod.rs
  apps/demo-got/src/storage/surrealdb.rs
  apps/demo-got/src/types.rs
  crates/ix-app/Cargo.toml
  crates/ix-app/src/lib.rs
  crates/ix-config/src/lib.rs
  crates/ix-storage-surrealdb/Cargo.toml
  crates/ix-storage-surrealdb/src/lib.rs
  crates/ix-storage-surrealdb/src/schema.rs
  crates/ix-storage-surrealdb/src/types.rs
  crates/ix-storage-surrealdb/tests/deterministic_sync_search.rs
Due: dprint, cargo-fmt, cargo-clippy

feat(ci): add automated publishing with cargo-dist and release-plz
  .github/workflows/release-plz.yml
  .github/workflows/release.yml
  Cargo.toml
  apps/demo-got/Cargo.toml
  apps/ix-cli/Cargo.toml
  apps/ix-daemon/Cargo.toml
  apps/ix-mcp/Cargo.toml
  cliff.toml
  dist-workspace.toml
  release-plz.toml
Due: none

feat(ci): automated publishing with feature-gated HelixDB (#18)
  .github/workflows/release-plz.yml
  .github/workflows/release.yml
  Cargo.toml
  apps/demo-got/Cargo.toml
  apps/ix-cli/Cargo.toml
  apps/ix-daemon/Cargo.toml
  apps/ix-mcp/Cargo.toml
  cliff.toml
  crates/ix-app/Cargo.toml
  crates/ix-app/src/lib.rs
  crates/ix-helixdb-ops/Cargo.toml
  crates/ix-storage-helixdb/Cargo.toml
  dist-workspace.toml
  release-plz.toml
Due: cargo-fmt, cargo-clippy

fix(release): exclude packages with publish=false from release-plz
  release-plz.toml
Due: none

fix(publish): add version specs to internal path dependencies
  apps/ix-cli/Cargo.toml
  apps/ix-mcp/Cargo.toml
  crates/ix-app/Cargo.toml
  crates/ix-core/Cargo.toml
  crates/ix-embeddings/Cargo.toml
  crates/ix-storage-surrealdb/Cargo.toml
Due: none

fix(publish): remove HelixDB from published crates (crates.io compatibility)
  apps/ix-cli/Cargo.toml
  apps/ix-mcp/Cargo.toml
  crates/ix-app/Cargo.toml
  crates/ix-app/src/lib.rs
  dist-workspace.toml
Due: cargo-fmt, cargo-clippy

fix(build): exclude Windows from release targets
  README.md
  apps/ix-daemon/README.md
  dist-workspace.toml
Due: dprint

fix(dist): exclude Windows from build targets
  .ixchel/issues/iss-7165bb.md
  .ixchel/issues/iss-93f6f1.md
  apps/ix-daemon/README.md
  dist-workspace.toml
Due: dprint

feat(daemon): add background sync and file watching
  apps/ix-cli/Cargo.toml
  apps/ix-cli/src/main.rs
  apps/ix-daemon/Cargo.toml
  apps/ix-daemon/src/bin/ixcheld.rs
  apps/ix-daemon/src/client.rs
  apps/ix-daemon/src/lib.rs
  apps/ix-daemon/src/queue.rs
  apps/ix-daemon/src/server.rs
  apps/ix-daemon/src/watcher.rs
  apps/ix-daemon/src/worker.rs
  crates/ix-storage-surrealdb/src/lib.rs
  crates/ix-storage-surrealdb/src/manifest.rs
  crates/ix-storage-surrealdb/src/schema.rs
  crates/ix-storage-surrealdb/src/types.rs
Due: cargo-fmt, cargo-clippy

chore: release v0.1.1
  Cargo.toml
  apps/ix-cli/CHANGELOG.md
  apps/ix-cli/Cargo.toml
  apps/ix-daemon/CHANGELOG.md
  apps/ix-mcp/CHANGELOG.md
  apps/ix-mcp/Cargo.toml
  crates/ix-app/CHANGELOG.md
  crates/ix-app/Cargo.toml
  crates/ix-config/CHANGELOG.md
  crates/ix-core/CHANGELOG.md
  crates/ix-core/Cargo.toml
  crates/ix-embeddings/CHANGELOG.md
  crates/ix-embeddings/Cargo.toml
  crates/ix-id/CHANGELOG.md
  crates/ix-storage-surrealdb/CHANGELOG.md
  crates/ix-storage-surrealdb/Cargo.toml
Due: dprint

fix(ix-core): avoid serde dependency leak in define_id
  crates/ix-core/src/id.rs
  crates/ix-core/src/lib.rs
Due: cargo-fmt, cargo-clippy

Path conditions:
  dprint: any of: \.(md|markdown|mdown)$
  cargo-fmt: any of: \.rs$
  cargo-clippy: any of: \.rs$
